@page
@model Proyectos.App.Presentacion.Pages.Equipos.ListModel
@{
   ViewData["Title"] = "Lista de Equipos";
}


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2><div class="text-info">Lista de Equipos</h2>
            </div>
            <div class="col-sm-3">
                 <a class="btn btn-primary btn-sm" asp-page="./List">
                        Listado Completo
                 </a>
            </div>
            <div class="col-sm-3">
                 <a class="btn btn-primary btn-sm" asp-page="./Crear">
                        Crear Equipo
                 </a>
            </div>               
        </div>    
    </div>
    <div class="card-body">
        <div>
            <p>
                @Html.ActionLink("Listado Completo", "./List")
            </p>

            @using (Html.BeginForm())
            {
                <p>
                    Buscar x Identificación: @Html.TextBox("SearchString")  
                    <input type="submit" value="Buscar" />
                </p>
            }
        </div>
        @if (Model.Equipos.Count() > 0) { 
            <br /><br />
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().id)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().codigo)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().nombre)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().tema)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().fechaInicio)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().fechaFinal)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().meet)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().whatsapp)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().formador)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().tutor)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().estadoProyecto)</th>
                    <th>@Html.DisplayNameFor(m => m.Equipos.First().vigente)</th>
                    <th colspan=3>ACCIONES</th>
                </tr>
                @foreach (var item in Model.Equipos)  {
                <tr>
                    <td>@Html.DisplayFor(m => item.id)</td>
                    <td>@Html.DisplayFor(m => item.codigo)</td>
                    <td>@Html.DisplayFor(m => item.nombre)</td>
                    <td>@Html.DisplayFor(m => item.tema)</td>
                    <td>@Html.DisplayFor(m => item.fechaInicio)</td>
                    <td>@Html.DisplayFor(m => item.fechaFinal)</td>
                    <td>@Html.DisplayFor(m => item.meet)</td>
                    <td>@Html.DisplayFor(m => item.whatsapp)</td>
                    <td>@Html.DisplayFor(m => item.formador)</td>
                    <td>@Html.DisplayFor(m => item.tutor)</td>
                    <td>@Html.DisplayFor(m => item.estadoProyecto)</td>
                    <td>@Html.DisplayFor(m => item.vigente)</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-EquipoId="@item.id">
                            Detalle</a>
                    </td>

                    <td>
                        <a class="btn btn-success btn-sm" asp-page="./Edit"    asp-route-EquipoId="@item.id">
                            <i class="bi-pencil-fill"></i>
                            Editar
                        </a>
                    </td> 

                    <td>                                                     
                        <a class="btn btn-danger btn-sm" asp-page="./Delete"   asp-route-EquipoId="@item.id">
                            <i class="bi-trash-fill"></i>
                            Eliminar
                        </a>
                    </td> 
                </tr>    
            }
            </table>
        }else{
            <p>No hay Equipos disponibles</p>
        }
    </div>
    </div>
</div>




