@page
@model Proyectos.App.Presentacion.Pages.Formadores.DeleteModel
@{
    ViewData["Title"] = "Eliminar Formador";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Datos del  Formador</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger">
                <!-- se envía campo de la PK oculto -->
                <input type="hidden"  asp-for="formador.id" />
                <div class="container" style="padding: 30px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.id"  class="text-primary"></label>
                            </div>
                            <div class="col-sm-1">
                                <input asp-for="formador.id" class="form-control" value = "@Model.formador.id" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.identificacion"  class="text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="formador.identificacion" class="form-control" value = "@Model.formador.identificacion" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.nombre"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="formador.nombre" class="form-control" value = "@Model.formador.nombre" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.mail"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="email" asp-for="formador.mail" class="form-control" value = "@Model.formador.mail" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.movil"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="formador.movil" class="form-control" value = "@Model.formador.movil" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="formador.vigente"  class=" text-primary"></label>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-check-input" type="checkbox" asp-for="formador.vigente" class="form-control" value = "@Model.formador.vigente" disabled />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-2"> 
                                <input type="submit" value="Eliminar" class="btn btn-danger form-control" />
                            </div>
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




